
body{
    background:linear-gradient(to right,#D9D8D7, #0D2F73) no-repeat fixed;
}

.preencher {
    background-color: #0E0E52;
    width: 50vw;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 15px #092150;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label{
    color:white;
}

.title{
    color: #78C0E0;
}

.form-floating{
    width:200px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
}

.conteudo label{
    color:grey;
}
.conteudo #text{
    color: white;
}
.radio{
    margin-bottom: 50px;
}

.resultados{
    color: #FF0000;
    font-size: large;
    font-weight: bold;
    margin-top: 15px;
}

.sub-title{
    display: flex;
    gap:5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}
