* {
    font-family:Arial, Helvetica, sans-serif
}

body{
    background-image: -webkit-linear-gradient(right, #D9D8D7, #0D2F73);
    background-image: linear-gradient(to right, #D9D8D7, #0D2F73);
}

main{
    background-color: white;
    width:600px;
    padding:15px;
    margin:auto;
    border-radius: 20px;
    text-align: center;
    box-shadow:5px 5px 15px #092150;
}

button{
    padding: 10px;
}


h2{
    color: black;
    text-shadow: 1px 1px 5px #052440;
}

label{
    color:#052440;
}



